.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col-md-12, .col-md-4 {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

.text-center {
    text-align: center;
    margin-top: 20px;
}

.head {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s;
    display: block;
    margin: 0 auto;
}

svg {
    width: 15%;
    height: 15%;
    fill: #ffcc00;
}

#icon {
    font-size: 1.5em;
    font-weight: 500;
    color: #fff;
    font-style: bold;
}

.text_img{
  width: 25%;
  height: 50%;
}

.text-justify{
    text-align: justify;

}

p{
    font-size: 1.2em;
    font-weight: 500;
    color: #fff;
}