footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer ul li {
    display: inline;
    margin: 0 10px;
}

footer ul li a {
    color: white;
    text-decoration: none;
}

footer ul li a:hover {
    color: #ffcc00;
}