/* Estilos para el encabezado */
header {
    background-color: #293e5d; /* Cambia el color de fondo según tus preferencias */
    padding: 10px 0; /* Añade espacio interno arriba y abajo */
    height: 50px; /* Ajusta la altura del encabezado */
    font-family: Arial, Helvetica, sans-serif; /* Cambia la fuente del texto según tus preferencias */;

}

/* Estilos para la barra de navegación */
nav {
    text-align: center; /* Centra los elementos de la lista */
}

nav ul {
    list-style-type: none; /* Quita los puntos de la lista */
    padding: 0;
    margin: 0;
}

nav li {
    display: inline; /* Muestra los elementos de la lista en línea */
    margin: 0 10px; /* Añade margen a los elementos de la lista */
}

nav a {
    color: white; /* Cambia el color del texto según tus preferencias */
    text-decoration: none; /* Quita el subrayado de los enlaces */
}

nav a:hover {
    color: #ffcc00; /* Cambia el color del texto al pasar el ratón sobre los enlaces */
}
